ul.header li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 13px;
  display: inline-block;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 10;
}

.header{
    box-shadow: 0px 6px 5px rgb(220, 220, 220);
    background-image: -webkit-linear-gradient(290deg, #010001 , #009A01, #00669B, #000069);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-size: cover;
    left: 0px;
}

.header-background{
    background-color: lightgray ;
    height: 10px;
}

.active {
  background-color: white;
}
